$color:#E56353;
$ruddypink:#D76C69;
$spanish-pink: #ecbcba;
$black: #121619;
$rasinblack:#222323;
$nickel: #6E6C70;
$lightgray: #D1D1D1;
$platinum: #E6E7E7;
$white: #FFF;
$xx-large:70px;
$breakpoint-lg: 992px;
// Font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$icon-size: 45px;

// Font weight
$f-regular: 400;
$f-light: 300;
$f-black: 900;