.footer{
    width:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding:4rem 0rem;
    img{
        width:10%;
    }
}